table, tr, td{
    border: 1px solid black;
}

a{
    text-decoration: none;
    color: black;
    padding: 2px;
}
.btnRegistrar{
    border: 1px solid;
    padding: 10px;
    background-color: blanchedalmond;
}
.btnRegistrar:hover{
    background-color: gray;
}
.btnModificar:hover{
    background-color: green;
}
.btnEliminar:hover{
    background-color: red;
}